.container{
    max-width: 80%;
    margin: 0 auto; 
    
}
 #upload {
    text-align: center;
    background: cornflowerblue;
    border-radius: 15px ;
    color: snow;

}
input {
    margin: 32px 0;
    
}
#buttons {
    display :flex;
    justify-content: space-evenly;
    margin: 32px 0 ;
    border: 1px solid cornflowerblue;
    border-radius: 15px ;

}
button {
    background: cornflowerblue;
    width: 160px;
    color: snow;
    padding: 10px; 
    border-radius: 15px;
}
canvas{
    max-width:100% ;
}